<h1>Editing occurrence</h1>

<%= render "form", occurrence: @occurrence %>

<br>

<div>
  <%= link_to "Show this occurrence", @occurrence %> |
  <%= link_to "Back to occurrences", occurrences_path %>
</div>
