<h1>Editing occurrence</h1>

<%= render "form", occurrence: @occurrence %>

<br>

<div>
  <%= link_to category_occurrence_path(@occurrence) %> |
  <%= link_to "Back to occurrences", category_occurrences_path %>
</div>
