<%=render "layouts/header", title: "Occurrences"%>

<div class="categories-container">
<div id="occurrences">
  <% @category.occurrences.each do |occurrence| %>
    <%= render occurrence %>
    <p>
      <%#= link_to "Show this occurrence", occurrence %>
    </p>
  <% end %>
</div>
<div>
<%= link_to "New occurrence", new_category_occurrence_path(@category), class:"new-btn" %>
<%= link_to "Home", categories_path, class:"new-btn" %>
</div>
</div>