<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
   <%= link_to category_occurrences_path(category) do %>
    <%= render category %>
    <p>Total amount: $ <span><%= category.occurrences.sum(:amount) %></span></p>
  <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
